@media (max-width: 767px) {
    .nav-xs {
        margin: 0;
    }
}

.nav-right{
    float: right;
}
.dropdown-toggle-right{
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(238, 238, 238);
}
.dropdown-menu-right{
    left: -120px;
}

.txt-args {
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
}

canvas {
    -moz-user-select: none;
    webkit-user-select: none;
    -ms-user-select: none;
}
.chart-container {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.scraped-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.label, .btn {
    opacity: 0.75
}
